.navbar{
    
    background-color: #007bff !important;
}
.nava{
    padding: 0px;
    color: white !important;
    background-color: #007bff !important;
}
.nav-link{
    color: white !important;
}

#card {
    background-color: #f00;
    width: 200px;
    height: 200px;
}
.mainText{
    font-size: 50px;
    color: white;
}
.parentDiv{
    text-align: center;
}
.parentCard{
    background-color: #6cb3ff !important;
}
.employee{
    margin: 10px;
    background-color: white;
    width: 100%;
}
.mainCard{
    height: 500px;
    padding: 40px;
}