<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employer</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal" style="margin-bottom:20px;">Profile | Employer</h1>
    <hr>
    <input name="name" type="text" class="form-control" placeholder="Full Name"><br>
    <input name="bio" type="text" class="form-control" placeholder="Bio"><br>
    <input name="company" type="text" class="form-control" placeholder="Company"><br>
    <input name="company_creator" type="text" class="form-control" placeholder="Company Creator"><br>
    <input name="company_name" type="text" class="form-control" placeholder="Company Name"><br>
    <input name="company_bio" type="text" class="form-control" placeholder="Company Bio"><br>
    <input name="company_website" type="url" class="form-control" placeholder="Company Website"><br>
    <input name="linkedin_url" type="url" class="form-control" placeholder="LinkedIn URL"><br>
    <input name="photo" type="file" class="form-control" placeholder="Phote"><br>
    <input name="company_photo" type="file" class="form-control" placeholder="Phote"><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" href="/dashboard/">Save</button>
</form>
</body>
</html>