{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <title>Home | Swype</title>
</head>
<body>
    <div class="row home">
    <div class="col-md-6">
        <h4>----- Creativity and Collaboration</h4>
        <h1>Work Remotely<br>From Your Home <br>or Places</h1>
    </div>
    <div class="col-md-6">
        <img src="{% static 'img/remote.jpg' %}" alt="Remote Work">
    </div>
    </div>
</body>
</html>
{% endblock %}