{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Swype</title>
</head>
<body>
    <div class="col">
        <h4>----- Creativity and Collaboration</h4>
        <h1>Work Remotely From Your Home or Places</h1>
    </div>
    <div class="col">
        <img src="https://elements-cover-images-0.imgix.net/1d9693b5-25d7-400d-8dff-e49f9658337a?auto=compress%2Cformat&fit=max&w=1019&s=32ee99d74b6fa869c92d14ab6f7f182d" alt="">
    </div>
</body>
</html>
{% endblock %}