{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | Swype</title>
</head>
<body>

<div>
    <div class="parentDiv">
        <div class="row parentCard" >

          <div class="col-sm mainCard card shadow-lg" onclick="location.href='/profile/employee';" style="cursor: pointer;">
            <img class="card-img-top cardImage" src="https://media.discordapp.net/attachments/723834328165122068/723956157559078912/2835251.png" alt="Card image cap">
            <hr>
            <div class="card-body">
                <h1 class="card-title">I am an Employee</h1>
            </div>
          </div>

          <div class="col-sm mainCard card shadow-lg" onclick="location.href='/profile/employer';" style="cursor: pointer;">
            <img class="card-img-top cardImage" src="https://image.flaticon.com/icons/svg/2910/2910480.svg" alt="Card image cap">
            <hr>
            <div class="card-body">
                <h1 class="card-title">I am an Employer</h1>
            </div>
          </div>
        </div>
        
    </div>
</div>

</body>
</html>
{% endblock %}
