{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | Swype</title>
</head>
<body>

<div>
    <div class="parentDiv">
        <div class="row parentCard" >
          <div class="col-sm mainCard employee" onclick="location.href='/profile/employee';" style="cursor: pointer;">
            <h1 class="mainText">I am employe</h1>
          </div>
          <div class="col-sm mainCard employer" onclick="location.href='/profile/employer';" style="cursor: pointer;">
            I am Employer
          </div>
        </div>
    </div>
</div>

</body>
</html>
{% endblock %}
