<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
</head>
<body class="text-center">
<div class="container" style="padding:30px;">
    <form method="POST"  class="form-signin">
        {% csrf_token %}
        <input name="username" type="text" class="form-control" placeholder="Username"><br>
        <input name="password" type="password" class="form-control" placeholder="Password"><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <div>
            {% for message in messages %}
            <h3>{{ message }}</h3>
            {% endfor %}
        </div>
    </form>
</div>

</body>
</html>
{% endblock %}